<a href="https://colab.research.google.com/github/LakshmiSBelgavi/Data_Cleaning/blob/main/Cleaned_DataSet_1_LakshmiSB.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
#The given dataset is in .CSV file format.
#Lets read the given dataset using a variable "dataset".

dataset = pd.read_csv("/content/Data-cleaning-for-beginners-using-pandas.csv")

In [ ]:
#Let's first check the number of rows and columns present in the dataset using "shape" method
dataset.shape

(29, 7)

In [ ]:
dataset.head()      #This displays first five rows of the dataset

   Index   Age     Salary  Rating       Location  Established Easy Apply
0      0  44.0  $44k-$99k     5.4       India,In         1999       TRUE
1      1  66.0  $55k-$66k     3.5    New York,Ny         2002       TRUE
2      2   NaN  $77k-$89k    -1.0    New York,Ny           -1         -1
3      3  64.0  $44k-$99k     4.4       India In         1988         -1
4      4  25.0  $44k-$99k     6.4  Australia Aus         2002         -1

In [ ]:
dataset.tail()     #This displays last five rows of the dataset

    Index   Age     Salary  Rating       Location  Established Easy Apply
24     24  13.0  $44k-$99k    -1.0    New York,Ny         1987         -1
25     25  55.0  $44k-$99k     0.0  Australia Aus         1980       TRUE
26     26   NaN  $55k-$66k     NaN       India,In         1934       TRUE
27     27  52.0  $44k-$99k     5.4       India,In         1935         -1
28     28   NaN  $39k-$88k     3.4  Australia Aus         1932         -1

In [ ]:
dataset.columns           #Displays all the columns present in the dataset

Index(['Index', 'Age', 'Salary', 'Rating', 'Location', 'Established',
       'Easy Apply'],
      dtype='object')

In [ ]:
#Let's check if there are any missing values present in the given dataset.

missing_values = dataset.isnull().sum()

# Displaying the columns with missing values and their counts.
print("Columns with Missing Values:")
print(missing_values[missing_values > 0])

Columns with Missing Values:
Age       7
Rating    1
dtype: int64

Checking the column **"Age"** : I filled the missing values with the median value of the column. Using the median is a common strategy when dealing with numerical data, as it is less sensitive to outliers than the mean.Since the datatype of this was float initially , I changed it to the **"int"** datatype.

In [ ]:
#HANDLING THE MISSING VALUES SINCE AGE COLUMN CONTAINS 7 MISSING VALUES

median_age = dataset['Age'].median()
dataset['Age'].fillna(median_age, inplace=True)



#Let's change the datatype of age column to int datatype
dataset['Age'] = dataset['Age'].astype('int64')

In [ ]:
dataset['Age']

0     44
1     66
2     39
3     64
4     25
5     44
6     21
7     44
8     35
9     22
10    55
11    44
12    39
13    25
14    66
15    44
16    19
17    39
18    35
19    32
20    39
21    35
22    19
23    39
24    13
25    55
26    39
27    52
28    39
Name: Age, dtype: int64

The column **"Salary"** : Here let's split the salary into two columns minimum and maximum salary and then replace the $ and K by 000 for better understanding of the dataset.

In [ ]:
# Spliting the 'Salary' column into two columns: 'Minimum Salary' and 'Maximum Salary'
dataset[['Minimum Salary', 'Maximum Salary']] = dataset['Salary'].str.split('-', expand=True)


# Remove '$' and 'K' from 'Minimum Salary' and 'Maximum Salary', and convert to numeric
dataset['Minimum Salary'] = pd.to_numeric(dataset['Minimum Salary'].str.replace('[$k]', '000'))
dataset['Maximum Salary'] = pd.to_numeric(dataset['Maximum Salary'].str.replace('[$k]', '000'))

<ipython-input-110-4289c212a718>:6: FutureWarning: The default value of regex will change from True to False in a future version.
  dataset['Minimum Salary'] = pd.to_numeric(dataset['Minimum Salary'].str.replace('[$k]', '000'))
<ipython-input-110-4289c212a718>:7: FutureWarning: The default value of regex will change from True to False in a future version.
  dataset['Maximum Salary'] = pd.to_numeric(dataset['Maximum Salary'].str.replace('[$k]', '000'))

In [ ]:
dataset[['Minimum Salary','Maximum Salary']]

    Minimum Salary  Maximum Salary
0            44000           99000
1            55000           66000
2            77000           89000
3            44000           99000
4            44000           99000
5            77000           89000
6            44000           99000
7            44000           99000
8            44000           99000
9            44000           99000
10           10000           49000
11           10000           49000
12           44000           99000
13           44000           99000
14           44000           99000
15           88000          101000
16           19000           40000
17           44000           99000
18           44000           99000
19           44000           99000
20           44000           99000
21           44000           99000
22           55000           66000
23           44000           99000
24           44000           99000
25           44000           99000
26           55000           66000
27           44000           99000
28           39000           88000

The **"Rating"** column :  I first replaced values like -1 with NaN to represent missing or invalid ratings. Then, filled the missing values with the mean rating.

In [ ]:
# Replacing -1 with NaN in the "Rating" column
dataset['Rating'].replace(-1, np.nan, inplace=True)

# Filling the missing values in the "RATING" column with the mean.
mean_rating = dataset['Rating'].mean()
dataset['Rating'].fillna(mean_rating, inplace=True)

#Rounding off the decimal values to 1.
dataset['Rating'] = dataset['Rating'].round(1)

In [ ]:
dataset['Rating']

0     5.4
1     3.5
2     4.3
3     4.4
4     6.4
5     1.4
6     0.0
7     4.3
8     5.4
9     7.7
10    5.4
11    6.7
12    0.0
13    4.3
14    4.0
15    3.0
16    4.5
17    5.3
18    6.7
19    3.3
20    5.7
21    5.0
22    7.8
23    2.4
24    4.3
25    0.0
26    4.3
27    5.4
28    3.4
Name: Rating, dtype: float64

The **"Location"** column : Let's separate the location with its code and create new column as country code which contains the code like In,Ny and Aus.

In [ ]:
dataset['Location'] =dataset['Location'].replace("India,In","India")

dataset['Location'] =dataset['Location'].replace("India In","India")

dataset['Location'] =dataset['Location'].replace("New York,Ny","New York")

dataset['Location'] =dataset['Location'].replace("Australia Aus","Australia")

In [ ]:
conditions = [
    (dataset['Location'] == 'New York'),
    (dataset['Location'] == 'India'),
    (dataset['Location'] == 'Australia')
]

choices = ['Ny', 'In', 'Aus']

# Default value for locations other than 'New York', 'India', and 'Australia'
dataset['Country Code'] = np.select(conditions, choices, default='Other')

In [ ]:
dataset[['Location','Country Code']]

     Location Country Code
0       India           In
1    New York           Ny
2    New York           Ny
3       India           In
4   Australia          Aus
5       India           In
6    New York           Ny
7   Australia          Aus
8    New York           Ny
9       India           In
10      India           In
11      India           In
12      India           In
13  Australia          Aus
14  Australia          Aus
15  Australia          Aus
16      India           In
17   New York           Ny
18   New York           Ny
19   New York           Ny
20   New York           Ny
21   New York           Ny
22   New York           Ny
23   New York           Ny
24   New York           Ny
25  Australia          Aus
26      India           In
27      India           In
28  Australia          Aus

The **"Established"** column : Lets rename the column as **"Established Year"** for easy understanding and replace the value **"-1" as Unknown.**

In [ ]:
# Replace -1 with Unknown in the "ESTABLISHED YEAR" column

dataset['Established'] = dataset['Established'].replace(-1, 'Unknown')

# Renaming the column as "Established Year"

dataset.rename(columns={'Established': 'Established Year'}, inplace=True)

In [ ]:
dataset['Established Year']

0        1999
1        2002
2     Unknown
3        1988
4        2002
5        1999
6     Unknown
7     Unknown
8     Unknown
9     Unknown
10       2008
11       2009
12       1999
13       2019
14       2020
15       1999
16       1984
17       1943
18       1954
19       1955
20       1944
21       1946
22       1988
23       1999
24       1987
25       1980
26       1934
27       1935
28       1932
Name: Established Year, dtype: object

In [ ]:
#Let's delete the column Salary and Index as they are not required.

dataset.drop('Salary', axis=1, inplace=True)

dataset.drop('Index', axis=1, inplace=True)

In [ ]:
dataset.head()

,Age,Rating,Location,Established Year,Easy Apply,Minimum Salary,Maximum Salary,Country Code
0,44,5.4,India,1999,TRUE,44000,99000,In
1,66,3.5,New York,2002,TRUE,55000,66000,Ny
2,39,4.3,New York,Unknown,-1,77000,89000,Ny
3,64,4.4,India,1988,-1,44000,99000,In
4,25,6.4,Australia,2002,-1,44000,99000,Aus

In [ ]:
dataset['Easy Apply'].dtypes

dtype('O')

In [ ]:
print(dataset['Easy Apply'].unique())

['TRUE' '-1']

The **"Easy Apply"** column : This column contains two values :- **TRUE** and **-1**. So lets replace -1 by FALSE .The datatype of this column is object so lets convert it into bool datatype.

In [ ]:
# Replacing -1 with "FALSE" in the 'Easy Apply' column
dataset['Easy Apply']=dataset['Easy Apply'].replace('TRUE',True)
dataset['Easy Apply']=dataset['Easy Apply'].replace('-1',False)

In [ ]:
dataset['Easy Apply']

0      True
1      True
2     False
3     False
4     False
5      True
6     False
7     False
8     False
9      True
10     True
11    False
12    False
13     True
14     True
15    False
16    False
17     True
18     True
19     True
20     True
21    False
22     True
23     True
24    False
25     True
26     True
27    False
28    False
Name: Easy Apply, dtype: bool

In [ ]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29 entries, 0 to 28
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Age               29 non-null     int64
 1   Rating            29 non-null     float64
 2   Location          29 non-null     object
 3   Established Year  29 non-null     object
 4   Easy Apply        29 non-null     bool
 5   Minimum Salary    29 non-null     int64
 6   Maximum Salary    29 non-null     int64
 7   Country Code      29 non-null     object
dtypes: bool(1), float64(1), int64(3), object(3)
memory usage: 1.7+ KB

Let's rearrange the columns as required.

In [ ]:

column_order = ['Age', 'Rating', 'Minimum Salary','Maximum Salary','Established Year','Location','Country Code','Easy Apply']
dataset = dataset[column_order]

# The final **CLEANED DATASET** is as follows **:)**

In [ ]:
dataset.head(30)

,Age,Rating,Minimum Salary,Maximum Salary,Established Year,Location,Country Code,Easy Apply
0,44,5.4,44000,99000,1999,India,In,True
1,66,3.5,55000,66000,2002,New York,Ny,True
2,39,4.3,77000,89000,Unknown,New York,Ny,False
3,64,4.4,44000,99000,1988,India,In,False
4,25,6.4,44000,99000,2002,Australia,Aus,False
5,44,1.4,77000,89000,1999,India,In,True
6,21,0.0,44000,99000,Unknown,New York,Ny,False
7,44,4.3,44000,99000,Unknown,Australia,Aus,False
8,35,5.4,44000,99000,Unknown,New York,Ny,False
9,22,7.7,44000,99000,Unknown,India,In,True
10,55,5.4,10000,49000,2008,India,In,True
11,44,6.7,10000,49000,2009,India,In,False
12,39,0.0,44000,99000,1999,India,In,False
13,25,4.3,44000,99000,2019,Australia,Aus,True
14,66,4.0,44000,99000,2020,Australia,Aus,True
15,44,3.0,88000,101000,1999,Australia,Aus,False
16,19,4.5,19000,40000,1984,India,In,False
17,39,5.3,44000,99000,1943,New York,Ny,True
18,35,6.7,44000,99000,1954,New York,Ny,True
19,32,3.3,44000,99000,1955,New York,Ny,True
20,39,5.7,44000,99000,1944,New York,Ny,True
21,35,5.0,44000,99000,1946,New York,Ny,False
22,19,7.8,55000,66000,1988,New York,Ny,True
23,39,2.4,44000,99000,1999,New York,Ny,True
24,13,4.3,44000,99000,1987,New York,Ny,False
25,55,0.0,44000,99000,1980,Australia,Aus,True
26,39,4.3,55000,66000,1934,India,In,True
27,52,5.4,44000,99000,1935,India,In,False
28,39,3.4,39000,88000,1932,Australia,Aus,False